[Unit]
Description=BookLore container

[Container]
ContainerName=booklore
Image=ghcr.io/booklore-app/booklore:latest
Pod=booklore.pod
AutoUpdate=registry
Pull=always

Volume=booklore-data:/app/data
# note the :z is important for selinux systems
# Volume=YOUR MOUNTS:/books:z
# Volume=YOUR MOUNTS:/bookdrop:z


Environment=TZ=Etc/UTC
Environment=USER_ID=0
Environment=GROUP_ID=0
Environment=BOOKLORE_PORT=6060

HealthCmd=wget -q -O - http://localhost:6060/api/v1/healthcheck
HealthInterval=1m
HealthRetries=5
HealthStartPeriod=1m
HealthTimeout=10s
